.fb-tabs {
  margin-top: 10px;
}

.fb-tab-nav {
  display: flex;
  align-items: center;
}

.fb-tab-nav a:focus {
  outline: none;
  box-shadow: none;
}

.fb-tab-nav a {
  display: inline-block;
  padding: 8px 15px;
  border: 1px solid #ccc;
  border-bottom: none;
  margin-right: 5px;
  background: #f9f9f9;
  color: #333;
  border-radius: 5px 5px 0 0;
  text-decoration: none;
}

.fb-tab-nav a.active {
  background: #fff;
  font-weight: bold;
  position: relative;
}

.fb-tab-nav a.active:after {
  background: #fff;
  position: absolute;
  bottom: -1.5px;
  height: 1.5px;
  left: 0;
  right: 0;
  content: '';
}

.fb-tab-nav .fb-shortcode {
  flex: 1;
  text-align: right;
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  line-height: 1.5;
}

.fb-tab-content {
  display: none;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
}

.fb-tab-content.active {
  display: block;
}

.fb-tab-content .form-table th,
.fb-tab-content .form-table td {
  padding: 15px;
}

.fb-tab-content .cover-settings-row img {
  max-height: 250px;
}

.fb-tab-content .cover-settings-row input[type=url]{
  width: calc(100% - 33px);
}
#fb_flip_sound_url{
  max-width: 254px;
  display: inline-block;
}

#fb_cover_image,#fb_back_image{
  max-width: 250px;
  display: inline-block;
}

button.button.upload-cover-bt ,button.button.upload-audio-btn {
    margin-left: 30px;
}

.fb-tab-content .fb-source-block {
  background: #fff;
  padding: 15px;
  border-radius: 5px;
  border: 1.5px solid #dcdcdc;
  display: inline-block;
  width: calc(100% - 66px);
}

.fb-tab-content .dashicons-editor-help {
  cursor: help;
  margin: 0 6px 0 0;
}

.fb-tab-content .fb-source-block .pdf-preview {
  text-align: right;
}

.fb-tab-content h4 {
  margin: 0 0 10px;
}

.fb-tab-content .fb-img-chip {
  margin: 0 0 10px;
}

.wps-fb_info-box {
  margin: 15px 0 0;
}

.wps-fb_info-box a {
  text-decoration: none;
  background: #F2F2F2;
  display: inline-block;
  padding: 8px 16px;
  color: #111;
  border-radius: 5px;
  font-size: 14px;
}

.wps-fb_info-box>div {
  margin: 0 0 10px;
}

.wps-fb_info-box a:hover {
  background: #dcdcdc;
}

.wps-fb_info-box .upgrade_to_pro a {
  background: #1ea334;
  color: #fff;
}

.wps-fb_info-box .upgrade_to_pro a span {
  font-size: 18px;
}

.wps-fb_info-box .upgrade_to_pro a:hover {
  background: #0f8022;
}

@media screen and (max-width: 782px) {

  .fb-tab-content .form-table th,
  .fb-tab-content .form-table td {
    padding: 15px;
  }

  .fb-tab-content .fb-source-block .pdf-preview {
    margin: 0 0 10px;
  }
}
button.button.upload-cover-bt, button.button.upload-audio-btn, button.button.upload-back-btn, button.button.upload-cover-btn {
    margin-left: 30px;
}