/* .toplevel_page_wps-plugins a div img {
    width: 30px;
} */

.wps-pgfw-go-pro-link-backend {
    background: #05d5d8;
    color: white;
    font-weight: 700;
    padding: 2px 5px;
    border: 1px solid #05d5d8;
    border-radius: 5px;
}

.wps-pgfw-go-pro-link-backend:hover {
    background-color: #fff;
    color: #2196f3;
}