/* .toplevel_page_mwb-plugins a div img {
    width: 30px;
} */
.mwb-pgfw-go-pro-link-backend {
    background: #2196f3;
    color: #fff;
    padding: 2px 5px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid #2196f3;
}
.mwb-pgfw-go-pro-link-backend:hover{
    background-color: #fff;
    color: #2196f3;
}