/**
 * All of the CSS for your common functionality should be
 * included in this file.
 */
#pgfw-right-floating-div{
    z-index: 10;  
    position: absolute;  
    right: 0;

}
.pgfw_bulk_wrapper ul {
    margin: 0;
    display: flex;
}
.pgfw_bulk_wrapper li {
    list-style: none;
    flex: 0 0 33%;
}