/**
 * All of the CSS for your common functionality should be
 * included in this file.
 */
#pgfw-right-floating-div{
    z-index: 10;  
    position: absolute;  
    right: 0;

}
.pgfw_bulk_wrapper ul {
    margin: 0;
    display: flex;
}
.pgfw_bulk_wrapper li {
    list-style: none;
    flex: 0 0 33%;
}
/*popup modal*/

.mwb_pgfw_email_bulk_input {
    display: flex;
    flex-direction: column;
}

.mwb_pgfw_email_bulk_input label {
    font-weight: 600;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.mwb_pgfw_email_bulk_input input {
    border: 1px solid #333333 !important;
    box-shadow: none !important;
    background-color: rgb(26 51 101 / 5%) !important;
    margin-bottom: 10px;
}

.mwb_pgfw_email_bulk_input input:focus {
    outline:none;
    box-shadow: none;
}

.mwb_pgfw_email_bulk_button {
    margin-top: 10px;
}

.mwb_pgfw_email_bulk_button button {
    background-color: #333333;
    color: #ffffff;
    border:none;
}

.mwb_pgfw_email_bulk_button button:focus {
    border:none;
    outline:none;
    color:#ffffff;
}
#pgfw-user-email-submittion-message-bulk {
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    #pgfw-user-email-submittion-message-bulk {
        max-width: 275px;
        margin-top: 10px;
    }
} 
#pgfw-poster-dowload-url-link a img{
    width: 25px !important;
    height : 45px;
}