/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 .pgfw-badge {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 2px;
}

.pgfw-badge {
    background-color: blue;
    color: white;
    border-radius: 10px;
    padding: 2px;
}

.pgfw-single-pdf-download-button img {
    display: inline;
    width: auto;
    height: 25px;
}

.pgfw-single-pdf-download-button {
    /* margin-right: 15px; */
}

.pgfw-bulk-pdf-download-button {
    background-color: #2196F3;
    color: #ffffff;
    margin-right: 15px;
    max-width: 100px;
    margin: 0 auto;
    padding: 2px 5px;
    border-radius: 3px;
}

.pgfw-single-pdf-download-button:focus {
    outline: none;
}

a.pgfw-single-pdf-download-button,
.wps_pgfw_whatsapp_share_icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 5px;
    
}

.wps_pgfw_whatsapp_share_icon img {
    display: inline-block;
}

/*Floating element CSS*/

.wps_pgw-button_wrapper {
    position: fixed;
    top: 10%;
    right: -260px;
    z-index: 999999;
    display: flex;
    align-items: flex-start;
    transition: right 0.6s ease-in-out;
}

/*Floating Button*/
.wps_pgw-button {
    position: relative;
    right: 20px;
    cursor: pointer;
    z-index: 1;
    transition: transform 0.3s ease-in-out;
}

.wps_pgfw-display-value {
    background-color: #333333;
    height: 20px;
    width: 20px;
    display: flex;
    font-size: 10px;
    color: #ffffff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    font-weight: bold;
    letter-spacing: 1px;
}

.wps_pgw-button img {
    all: unset;
    width: 24px;
    height: 24px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 24%);
}

.wps_pgw-button:hover {
    transform: scale(1.1);
}

/*floating box*/
.wps_pgw-button_content {
    min-height: 200px;
    max-height: 400px;
    overflow: auto;
    background-color: #ffffff;
    position: relative;
    padding: 10px;
    min-width: 245px;
    width: 100%;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    display: flex;
    flex-direction: column;
}

/*Inner element of floating box*/
.pgfw_bulk_wrapper ul:not(:first-child) {
    margin: 0 !important;
    padding: 0 0 10px !important;
}

.pgfw_bulk_title {
    font-weight: 600;
    font-size: 12px;
    box-shadow: 0 5px 5px -5px rgb(0 0 0 / 23%);
    margin: 0 0 10px !important;
    color: #2196F3;
    text-align: left;
}

.pgfw_bulk_title>li {
    margin-right: 5px;
}

.wps_pgw-button_content button {
    border: none;
    padding: 5px 10px;
    background-color: #2196F3;
    color: #ffffff;
    border-radius: 3px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.pgfw_bulk_content {
    text-align: left;
}

.pgfw_bulk_content li {
    margin-right: 5px;
}

.pgfw_bulk_content-title {
    font-size: 10px;
    letter-spacing: 1px;
    color: #333333;
}

.pgfw-delete-this-products-bulk {
    background-color: #ffc9c9;
    font-size: 12px;
    padding: 5px 8px;
    text-transform: capitalize;
    color: #b33c3c;
    border-radius: 3px;
}

/*Classes used in JS*/
.wps_pgw-out {
    right: 0;
}

/*popup modal of email input=========start*/
#TB_window {
    z-index: 1000000 !important;
    width: 90% !important;
    max-width: 400px;
    transform: translate(-50%, -50%);
    margin: 0 !important;
    box-shadow: 0 0 0 5000px rgb(0 0 0 / 74%) !important;
}

#TB_ajaxContent {
    width: auto !important;
    height: unset !important;
    min-height: 305px;
}

/*popup modal*/
.wps_pgfw_email_input {
    display: flex;
    flex-direction: column;
    margin: 15px 0 0;
}

.wps_pgfw_email_input label {
    font-weight: 600;
    margin-bottom: 10px;
    color: #1a1a1a;
}

.wps_pgfw_email_input input[type=email] {
    border: 1px solid #333333 !important;
    box-shadow: none !important;
    background-color: transparent !important;
    margin-bottom: 10px;
}

.wps_pgfw_email_input input[type=email] {
    width: 100%;
    margin: 0 0 10px;
    padding: 10px;
    min-height: 40px;
}

.wps_pgfw_email_input input:focus {
    outline: none;
    box-shadow: none;
}

.wps_pgfw_email_button {
    margin-top: 10px;
}

.wps_pgfw_email_button button {
    background-color: #333333;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    margin: 0;
    line-height: 1.25;
    cursor: pointer;
}

.wps_pgfw_email_button button:focus {
    border: none;
    outline: none;
    color: #ffffff;
}

#pgfw-user-email-submittion-message {
    margin-top: 10px;
}

@media screen and (max-width: 480px) {
    #pgfw-user-email-submittion-message {
        width: 100%;
        max-width: 275px;
        margin-top: 10px;
    }
}


/* Email Popup start */

#single-pdf-download {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999999;
    display: none;
}

#single-pdf-download.wps-pdf_email--show {
    display: block;
}

.wps-pdf_email--shadow {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

.wps-pdf_email-content {
    position: absolute;
    max-width: 400px;
    width: calc(100% - 30px);
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.wps_pgfw_email_input input[type=checkbox] {
    margin: 0;
}

.wps_pgfw_email_input label[for=pgfw-user-email-from-account] {
    display: flex;
    gap: 5px;
    align-items: center;
}

.wps-pdf_email--close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.wps-pdf_email--close svg {
    width: 18px;
    height: 18px;
    position: unset;
}

#single-pdf-download .wps-pdf_email-content h2 {
    font-size: 20px;
    font-weight: 400;
    margin: 0;
    border-bottom: 1px solid #ccc;
    padding: 0 0 5px;
}

/* Email Popup end */
a.pgfw-single-pdf-download-a {
    display: inline-block;
    max-width: max-content;
    margin-right: 10px;
}
div.wps-pgfw-pdf-generate-icon__wrapper-frontend{
    display: flex;
}